#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export ZIG_GLOBAL_CACHE_DIR = /tmp/offline-cache

%:
	dh $@

override_dh_auto_configure:
	mkdir -p /tmp/offline-cache
	./nix/build-support/fetch-zig-cache.sh

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/ghostty zig build \
	  --prefix "/usr" \
	  --system /tmp/offline-cache/p \
	  -Doptimize=ReleaseFast \
	  -Dcpu=baseline
	rm -f debian/ghostty/usr/share/terminfo/g/ghostty
	rm -f debian/ghostty/usr/share/terminfo/x/xterm-ghostty
	rm -f debian/ghostty/usr/lib/terminfo/g/ghostty
	rm -f debian/ghostty/usr/lib/terminfo/x/xterm-ghostty
