#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	npm install --global pnpm
	pnpm install --frozen-lockfile
	pnpm run compile

override_dh_auto_install:
	rm -rf server/node_modules
	npm install --omit=dev --prefix server
	install -d "$(CURDIR)/debian/bash-language-server/usr/lib/node_modules/bash-language-server"
	cp -a \
	  server/node_modules \
	  server/out \
	  server/package.json \
	  server/tree-sitter-bash.wasm \
	  "$(CURDIR)/debian/bash-language-server/usr/lib/node_modules/bash-language-server/"
	chmod +x "$(CURDIR)/debian/bash-language-server/usr/lib/node_modules/bash-language-server/out/cli.js"
	install -d "$(CURDIR)/debian/bash-language-server/usr/bin"
	ln -sf /usr/lib/node_modules/bash-language-server/out/cli.js \
	  "$(CURDIR)/debian/bash-language-server/usr/bin/bash-language-server"
	install -Dm644 LICENSE "$(CURDIR)/debian/bash-language-server/usr/share/licenses/bash-language-server/LICENSE"

override_dh_fixperms:
	dh_fixperms
	chmod 0755 "$(CURDIR)/debian/bash-language-server/usr/lib/node_modules/bash-language-server/out/cli.js"
