#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	sed -i 's#-z -e#-o#' build.sh
	sed -i 's#"$$SVG_DIM\*$$1"#"$$SVG_DIM*$$1/1"#' build.sh
	sed -i 's#"$$SVG_DPI\*$$1"#"$$SVG_DPI*$$1/1"#' build.sh
	xvfb-run -a ./build.sh --max-dpi xxxhd --type dark --platform unix
	xvfb-run -a ./build.sh --max-dpi xxxhd --type light --platform unix

override_dh_auto_install:
	:
